@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --font-size: 14px;
    --font-regular: 400;
    --font-semibold: 600;
    --font-bold: 700;
}

.body {
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    align-content: center;
    background-color: var(--grey-900);
    color: var(--white);
}

.social {
    background-color: var(--grey-800);
    border-radius: 20px;
    padding: 2rem 1.8rem;
    width: 85%;
    margin-inline: auto;
    max-width: 400px
}

.social__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social__img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.social__name {
    font-weight: var(--font-semibold);
}

.social__location {
    color: var(--green);
    font-weight: var(--font-bold);
}

.social__description {
    margin: 2rem 0;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.884);
    font-weight: var(--font-regular);
}

.social__links {
    list-style: none;
}

.network {
    padding: 1rem;
    font-weight: var(--font-bold);
    /* background-color: hsla(0, 0%, 36%, 0.39); */
    background-color: var(--grey-700);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.network:hover {
    background-color: var(--green);
    color: var(--grey-900);
}

.network:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 500px) {
    .social__description {
        margin: 2rem 0;
    }
}